# R/RStudio files
.Rapp.history
.RData
*.Renviron
.Rhistory
.Rproj.user/
.Ruserdata

# tokens etc.
.httr-oauth

# project directories
/cache/
*_cache/
cache
cache/
inputs
inputs/
outputs
outputs/

# misc temp files
*.utf8.md
*.knit.md
test.tif
