# R/RStudio files
.Rapp.history
.RData
*.Renviron
.Rhistory
.Rproj.user/
.Ruserdata

# tokens etc.
.httr-oauth
*.json

# project directories
/cache/
*_cache/
cache
cache/
cache_wbi
cache_wbi/
inputs
inputs/
inputs_wbi
inputs_wbi/
outputs
outputs/
outputs_wbi
outputs_wbi/

# misc temp files
*.utf8.md
*.knit.md
test.tif
